{% extends "layout/base.html" %}

{% block title %} {{ block.super }} | {{ current_tag|capfirst }} {% endblock title %}

{% block content %}

<div class="d-flex justify-content-start mb-3">
    <a href="{% url "index" %}" class="btn btn-outline-primary me-2">New Questions</a>
    <a href="{% url "hot" %}" class="btn btn-outline-primary">Hot Questions</a>
</div>

{% for question in page_obj.object_list %}
{% include "components/question_card.html" %}
{% endfor %}

{% include "components/pagination.html" %}

{% endblock content %}